@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  font-family: "Montserrat", sans-serif;

}

p {
  font-size: 10pt;
}

* {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 510px;
}

.left {
  margin: 20px 20px;
  display: flex;
  justify-content: left;
  align-items: left;
  height: auto;
  float:left;

}

.right {
  margin: 10px 20px;
  display: flex;
  justify-content: right;
  align-items: right;
  height: auto;
  float:right;
}

.column {
  float: left;
  margin: 0px 20px 0px 20px;
  min-height: 465px;
  width: 210px;
  box-shadow: 1px 1px 8px 5px #c5c5c5;
}

.row::after {
  margin: 0 auto;
  content: "";
  clear: both;
  display: table;
}

div.polaroid {
  min-height: 300px;
  max-height: 300px;
  width: 210px;
  
}

div.container {
  padding: 10px 20px;
  margin: 0 auto;
  background-color: white;
  width: 210px;
  min-height: 165px;
   box-shadow: inset 0px 0px 10px 1px #c5c5c5;
}

.button-container{
  margin: 0px 10px 0px 10px;
}

.button {
  background-color: #555555;; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 12px;
  padding: 15px 32px;
  margin: 4px 2px;
}

.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.book-information{
  color: black;
  
}

.left-btn{
  height: 80px;
  width: 50px;
  margin-right: 15px;
  padding-left: 15px;
  background-color: white;
  border: none;
}

.right-btn{
  height: 80px;
  width: 50px;
  margin-left: 10px;
  padding-left: 1px;
  padding-right: 15px;
  background-color: white;
  border: none;
}

.arrow-left{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 15px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-right{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 15px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left-btn:hover{
  cursor: pointer;
}

.right-btn:hover{
  cursor: pointer;
}

.page{
  margin-top: 10px;
  margin-right: 50px;
  display: flex;
  justify-content: right;
  align-items: right;
  height: auto;
}

.text_page{
  font-size: 17px;
  font-weight: 300;
}

.warning{
  color: red;
}

.warning-button{
  background-color: red;
}

.normal{
  color: black;
}

.error{
  text-align: center;
  padding: 50px;
}

form.searchbar input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.searchbar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.searchbar button:hover {
  background: #0b7dda;
}

form.searchbar::after {
  content: "";
  clear: both;
  display: table;
}